
	@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
	body{
	margin:0;
	background-image: url("https://blue.kumparan.com/image/upload/fl_progressive,fl_lossy,c_fill,q_auto:best,w_640/v1634025439/01h3xpga9q6f2922yqc2q0bhr3.jpg");
	background-repeat: no-repeat;
	font-family:"Fredoka", serif;
	}
	

      .c1{
	
	height:80vw;
	margin:0 auto;
	border:0px solid green;
	}
	

	.top{
	padding:30px;
	padding-top:10px;
	font-size:30px;
	color:white;
	font-family:"Fredoka", serif;
	
	}

	h3{
	background-color: rgba(255,255,255,0.2);
	color: white;
	padding: 20 auto;
	padding-bottom: 2px;
	border: 1px solid black;
	border-radius: 40px;
	text-align: center;
	background-opacity: 0.2;
	}

	.mid{
	margin:30px auto;
	width:55vw;
	border:1px solid black;
	border-radius:20px;
	height:5px;
	background-color:black;
	}

	.fredoka-<uniquifier> {
	 font-family: "Fredoka", serif;
  	 font-optical-sizing: auto;
  	 font-weight: 300;
  	 font-style: normal;
  	 font-variation-settings:
    		"wdth" 100;
	}

      .c2{
	background-color: white;
	height:60vw;
	width:100vw;
	margin:0;
	border:1px solid white;
	border-top-right-radius:40px;
	border-top-left-radius:40px;
	}

	.cardsc{
	display:flex;
	flex-direction:row;
	}

	.a{
	margin:20px auto;
	margin-bottom:0px;
	width:90%;
	border:3px solid black;
	border-radius:20px;
	height:40vw;
	background-color: #61933A;
	display: flex;
	flex-direction: column;	
	}

	.kt{
	margin: 4vw;
	font-size: 8vw;
	color: white;
	}
		
	.tn{
	margin-left:4vw;
	font-size: 11vw;
	color: white;
	font-weight: bold;
	} 

	.b{
	margin:5px auto;
	width:42vw;
	border:3px solid black;
	border-radius:20px;
	height:40vw;
	background-color: #61933A;	
	}

	.sh1{
	font-size: 10vw;
	margin: 4vw;
	color: white;
	}

	.sh2{
	margin: 4vw;
	font-size: 15vw;
	color: white;
	font-weight: bold;
	}

	.ku1{
	font-size: 10vw;
	margin: 4vw;
	color: white;
	}

	.ku2{
	margin: 4vw;
	font-size: 15vw;
	color: white;
	font-weight: bold;
	}
  
